<div class="container">
  <div class="row">
    <div id="main-content" class="col-sm-12">
      <h4 class="page-name">This is the recent activity of our users! Join our vibrant community today!</h4>
      <div class="row">
        <%= render @activities %>
      </div><!-- row -->
    
      
    </div><!-- main_content -->
  </div><!-- row -->
</div><!-- container -->